.searchBar{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
    border-radius: 0;
}
.searchBar input {
  background-color: transparent;
  border: 5px solid;
  border-bottom: 2px solid white;
  color: white;
  font-size: 16px;
  padding: 10px;
  width: 300px;
  outline: none;
}
 
.buttons {
    color: yellow;
      text-shadow: -1px -1px 0 #0000ff, 1px -1px 0 #0000ff, -1px 1px 0 #0000ff, 1px 1px 0 #0000ff;
      border: 2px solid black;
      margin-right: 10px;
      margin-left: 10px;
      padding: 5px 10px;
     position: relative;
     font-size: 18px;
  }