.detail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  background: linear-gradient(rgba(255, 0, 0, 0.275), rgba(255, 0, 0, 0.275)), url("https://i.postimg.cc/CMtbpB6q/pokeBack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.left-column {
  margin-top: 70px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 180px;
  color: yellow;
  text-shadow: -2px -2px 0 #0000ff, 2px -2px 0 #0000ff, -2px 2px 0 #0000ff, 2px 2px 0 #0000ff;
}
.types-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.types-container h2 {
  margin-right: 10px;
}
.right-column {
  margin-top: 70px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: yellow;
  text-shadow: -2px -2px 0 #0000ff, 2px -2px 0 #0000ff, -2px 2px 0 #0000ff, 2px 2px 0 #0000ff;
  margin-left: -20px;
}

.image-container {
  width: 30%;
  margin-right: 1em;
}

.image {
  margin-top: 100px;
  margin-left: 200px;
  width: 300px;
  height: 300px;
}

.info-container {
  width: 60%;
}

.buttons {
  color: yellow;
  text-shadow: -1px -1px 0 #0000ff, 1px -1px 0 #0000ff, -1px 1px 0 #0000ff, 1px 1px 0 #0000ff;

  border: 2px solid black;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px 10px;
 position: relative;
}

.loader{
  display: block;
  position: absolute;
  height: 12px;
  width: 10%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.loader:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #FF3D00;
  animation: 2.5s prog ease-in infinite;
}

@keyframes prog {
  to  {   width: 100%;}
}
  