.Landing {
    background-image: url("https://i.postimg.cc/Gtf2TgbG/Pokemon-Fondo-Landing-Original2.jpg");
    background-Size: cover;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    height: 100vh;
    resize: both;
    overflow: auto;
  
 }